# typed: false
# frozen_string_literal: true

class Xx < Formula
  desc "A per‑project alias tool"
  homepage "https://github.com/gallardo994/xx-cli"

  if OS.mac? && Hardware::CPU.arm?
    url "__BASE_URL__/__FILE_NAME_MAC_ARM__"
    sha256 "__SHA_MAC_ARM__"
  elsif OS.linux? && Hardware::CPU.intel?
    url "__BASE_URL__/__FILE_NAME_LINUX_INTEL__"
    sha256 "__SHA_LINUX_INTEL__"
  elsif OS.linux? && Hardware::CPU.arm?
    url "__BASE_URL__/__FILE_NAME_LINUX_ARM__"
    sha256 "__SHA_LINUX_ARM__"
  else
    odie "Unsupported platform – no binary available for #{OS.kernel_name} #{Hardware::CPU.arch}"
  end

  version "__VERSION__"
  license "MIT"

  head do
    url "https://github.com/gallardo994/xx-cli.git", branch: "main"
  end

  def install
    bin.install "__FILE_NAME_MAC_ARM__" => "xx" if OS.mac? && Hardware::CPU.arm?
    bin.install "__FILE_NAME_LINUX_INTEL__" => "xx" if OS.linux? && Hardware::CPU.intel?
    bin.install "__FILE_NAME_LINUX_ARM__" => "xx" if OS.linux? && Hardware::CPU.arm?
  end

  test do
    output = shell_output("#{bin}/xx --help")
    assert_match "xx", output
  end
end
